@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

* {
  list-style-type: none;
}

:root {
  --iriscolor: #4d5ae5;
  --navcolor: black;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --white: #ffffff;
  --green: #31d0aa;
}

body {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  box-sizing: border-box;
  color: black;
}

.lists {
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.link-logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  color: var(--iriscolor);
}

.studio-logo {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
}

/* navbar list & contactheader */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header-item {
  display: flex;
}

.contactheader {
  display: flex;
  gap: 40px;
}

.navheader-link {
  text-decoration: none;
  color: var(--navyblue);
  font-weight: 500;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar {
  list-style-type: none;
}

.lists {
  text-emphasis: none;
}

.contactheader-container {
  display: flex;
  gap: 30px;
}

.contactheader-link {
  text-decoration: none;
  color: var(--slate);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactheader-link:hover,
.contactheader-link:focus {
  color: var(--ocean);
}

.navheader-link:hover,
.navheader-link:focus,
.current-page {
  color: var(--ocean);
}

.current {
  position: relative;
  color: var(--ocean);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: 2px solid var(--ocean);
  background-color: var(--ocean);
}

/* MAIN TITLE */

.hero {
  background-color: var(--navyblue);
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  text-align: center;
}

.main-title {
  /* display: flex;
  justify-content: center; */
  color: white;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  margin-bottom: 50px;
}

.effective {
  color: var(--white);
}

.orderservice {
  background-color: var(--iriscolor);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orderservice:hover,
.orderservice:focus {
  background-color: var(--ocean);
}

/* FEATURE */

.feature-container {
  display: flex;
  gap: 30px;
  padding: 140px;
  text-align: left;
}

.feature-list > li {
  list-style-type: none;
}

.feature-list {
  display: flex;
  gap: 20px;
}

.feature-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.feature-description {
  color: var(--slate, #434455);
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* WHAT ARE WE DOING */

.section-no-padding-top {
  padding-top: 0;
}

.whatarewedoing {
  display: flex;
  gap: 30px;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

/* Our Team */

.section-grey {
  background-color: var(--cloud);
}

.ourteam {
  display: flex;
  gap: 24px;
}

.ourteam-item {
  padding-bottom: 32px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourteam-name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
  padding-top: 32px;
}

.ourteam-job {
  color: var(--slate, #434455);
  text-align: center;
}

.ourteam-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.ourteam-icon-item {
  width: 40px;
  height: 40px;
}

.ourteam-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--iriscolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-icon-svg {
  fill: currentColor;
}

.ourteam-icon-link:hover,
.ourteam-icon-link:focus {
  background-color: var(--green);
}

/* CLIENT LIST */

.clientlist {
  display: flex;
  gap: 24px;
}

.client-item {
  width: calc((100% - 70px) / 6);
  height: 88px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 5px;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 100px;
  height: 60px;
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

/* Footer */

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer {
  padding: 100px 0;
  background-color: var(--navyblue);
}

.bottomtext {
  color: var(--cloud, #f4f4fd);
  margin-top: 17.5px;
}

.bottom-logo {
  color: var(--cloud);
  text-decoration: none;
}

.footer-socials-text {
  color: white;
  font-weight: 500;
}

.footer-socials {
  margin-left: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud);
  background-color: var(--iriscolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-svg {
  fill: currentColor;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

/* PORTFOLIO */

/* FILTER BUTTON */

.filterlist > li {
  list-style-type: none;
}

.filterbtn {
  padding: 12px 24px;
  color: var(--iriscolor);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower, #e7e9fc);
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnall,
.filterbtn:hover,
.filterbtn:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
  border-color: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* PROJECT SECTION */

.project > li {
  list-style-type: none;
}

.project-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  /* 120% */
  letter-spacing: 0.4px;
}

.project-type {
  color: var(--slate, #434455);

  /* 150% */
}

/* FILTERBUTTONS */

.filterlist {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* ProjectList */

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.project-text-type {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--iriscolor);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-cover-text,
.project-link:focus .project-cover-text {
  transform: translateY(0);
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  background-color: var(--white);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: var(--white);
  color: black;
  border: 1px solod rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
